body {
  overflow-x: hidden;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

/* Navigation*/

.navbar {
  text-transform: lowercase;
  font-size: 1rem;
  letter-spacing: .1rem;
  background-color: rgba(0, 0, 0, 1)!important;
}

.navbar-brand img {
  height: 4rem;
}

.navbar-nav li {
  padding-right: 1rem;
}


.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .3rem
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: grey;
}
/*Landing Page*/

.home-inner {
  background-image: url(../img/coffee1.jpg);
}
.app-button {
  height: 15vh;
  width: 40vw;
  background-color: #fff;
  color: #000;
  font-size: 1.5em;
  border: 2px solid #000;
  border-radius: 15px;
}
.app-button a {
  color: #000;
}
.app-button a:link {
  text-decoration: none;
  color: #000;
}
.app-button a:visited {
  text-decoration: none;
}
.app-button a:hover {
  text-decoration: underline;
}
.appbutton a:active {
  text-decoration: underline;
}
.second-inner {
  background-image: url(../img/food.jpg);
  width: 100%;
  height:100%
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 42%;
  z-index: 1;
  color: white;
  text-shadow: 2px 2px black;
}

.caption h1 {
  font-size: 3.8rem;
  letter-spacing: .3rem;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
}
/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1a1a1a;
  background-color: #1a1a1a;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

#features {
  background-color: white;
  color: black;
}

.jumbotron {
  color: black;
  padding-top: 0px;
  padding-bottom: 0px;
}
.w-100 {
  width: 100%!important;
  height: 30vh;
}
.fixed {
  background-image: url(../img/lw22.jpeg);
  filter: saturate(1.5);
 
}
.market-pics {
  height: 20vh;
  width: 20vw;
}

footer a {
 text-decoration: none;
}
/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
@media only screen and (max-width: 600px) {
  .app-button {
      font-size: 80%;
      width: 70vw;
  }
}